.contact-page {
    background-color: white;
    background-color:#fdfbf7;
    .contact-detail {
        width: 100%;
        margin-top: 5em;
        height: 60em;
        background: linear-gradient(#fdfbf7, rgba(253, 251, 247, 0.9)),
                url("../assets/image/logo-yellow.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 55em 55em;
        display: flex;
        .contact-content {
            color: black;
            margin-left: 14%;
            margin-top: 160px;
            opacity: 0;
            .contact-title {
                p {
                    font-size: 50px;
                    height: 200px;
                    line-height: 60px;
                    font-family: Glacial;
                    color: #ab6c2d;
                    width: 90%;
                }
            }
            .contact-text {
                margin-right: 3em;
                &:last-child {
                    margin-top: 5em;
                }
                .line-contact {
                    border-bottom: 2px solid #ab6c2d;
                    height: 0.8em;
                    width: 14em;
                }
                h2 {
                    font-size: 2em;
                }
                h3 {
                    font-size: 1.2em;
                    margin-top: 25px;
                    font-family: OpenSans;
                }
            }
        }
        .contact-map {
            height: 450px;
            margin-top: 12em;
            margin-left: 3%;
            img {
                height: 450px;
                width: 90%;
                border: 2px solid #ab6c2d;
            }
        }
        .display_none {
            display:none;
        }
    }
}
@-webkit-keyframes displayContactContent {
    0% {
        margin-top: 100px
    }
    100% {
        margin-top: 160px
    }
}

/* Standard syntax */
@keyframes displayContactContent {
    0% {
        margin-top: 100px
    }
    100% {
        margin-top: 160px
    }
}
[data-aos="contact-content-animation"] {
    opacity: 0 !important;
    transition-property: transform, opacity;
    &.aos-animate {
        -webkit-animation: displayContactContent 1s; /* Chrome, Safari, Opera */
        animation: displayContactContent 1s;
        opacity: 1 !important;
    }
}