.detail-post {
    width: 100%;
    background-color: #fdfbf7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .detail-post-content {
        margin-top: 5em;
        min-height: 120em;
        width: 100%;
        .landing-page-carousel {
            .item{
                position: relative;
                height: 100%;
                img {
                    filter: brightness(60%);
                    object-fit: cover;
                }
                .item__content {
                    position: absolute;
                    bottom: calc(100vw * 0.5);
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    left: 30%;
                    font-size: calc(100vw * 0.035);
                    font-weight: bold;
                    font-family: 'GLACIAL';
                }
            }
        }
        .post-img {
            height: 54em;
        }
        .post-content {
            width: 1200px;
            background: linear-gradient(#fdfbf7, rgba(253, 251, 247, 0.9)),
                url("../assets/image/logo-yellow.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 40em 40em;
            min-height: 60em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .post-title {
                height: 5em;
                padding-top: 10%;
                span {
                    font-size: 5.5em;
                    color: #ab6c2d;
                    font-family: Glacial;
                }
            }
            .post-bread {
                margin-top: 3em;
                height: 4em;
                padding-top: 7%;
                span {
                    font-size: 3em;
                    color: black;
                    font-family: Glacial;
                }
            }
            .post-content-text {
                min-height: 400px;
                padding-top: 5%;
                margin-top: 2em;
                textarea {
                    min-height: 600px;
                    font-size: 1.5em;
                    color: black;
                    line-height: 2;
                    font-family: OpenSans;
                    background-color: #fdfbf7;
                    border: none;
                    resize: none;
                }
                span {
                    color: black;
                    font-size: 1.5em;
                    color: black;
                    line-height: 2;
                    font-family: OpenSans;
                }
            }
        }
    }
    .item {
        position: relative;
        height: 100%;
        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
      
    .item__content {
        position: absolute;
        top: 22em;
        width: 35%;
        height: 18em;
        background-color: #cccc;
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1.5em;
        .room-title {
            font-size: 1.5em;
        }
        .room-status {
            margin-top: 2em;
            font-family: OpenSans;
        }
        .room-price {
            margin-top: 0.5em;
            font-family: OpenSans;
        }
        a {
            font-family: OpenSans;
            width: 50%;
            padding: 0.7em;
            margin-top: 3em;
            background-color:  red;
            border-radius: 30px;
            color: white;
            &:hover {
                font-weight: bold;
            }
        }
        &:hover  {
            cursor: default;
        }
    }
      
    .item__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }
    
    .el-carousel__item:nth-child(2n + 1) {
        background-color: #d3dce6;
    }
}