.detail-post {
    width: 100%;
    background-color: #fdfbf7;
    .detail-post-content {
        margin-top: 5em;
        min-height: 120em;
        width: 100%;
        .post-img {
            height: 54em;
        }
        .post-content {
            width: 100%;
            background: linear-gradient(#fdfbf7, rgba(253, 251, 247, 0.9)),
                url("../assets/image/logo-yellow.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 55em 55em;
            min-height: 60em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .post-title {
                margin-left: 20%;
                height: 5em;
                padding-top: 2em;
                span {
                    font-size: 5.5em;
                    color: #ab6c2d;
                }
            }
            .post-bread {
                margin-left: 20%;
                margin-top: 3em;
                height: 4em;
                padding-top: 2em;
                span {
                    font-size: 3em;
                    color: black;
                }
            }
            .post-content-text {
                min-height: 25em;
                padding-top: 2em;
                margin-left: 20%;
                margin-top: 2em;
                width: 60%;
                span {
                    font-size: 1.5em;
                    color: black;
                    line-height: 2;
                }
            }
        }
    }
}