.landing-page {
    margin-top: 5em;
    background-color: white;
    .body-landing-page {
        z-index: 1;
    }
    .el-carousel__container {
        height: 65em;
    }
    .item-1 {
        position: relative;
        height: 100%;
        background: linear-gradient(#222020cc, rgba(57, 57, 57, 0.2)),
            url("../assets/image/background-homepage1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .item-2 {
        position: relative;
        height: 100%;
        background: linear-gradient(#222020cc, rgba(57, 57, 57, 0.2)),
            url("../assets/image/background-homepage2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .item-3 {
        position: relative;
        height: 100%;
        background: linear-gradient(#222020cc, rgba(57, 57, 57, 0.2)),
            url("../assets/image/background-homepage3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .item__content {
        position: absolute;
        bottom: 10em;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        left: 14em;
        font-size: 3.5em;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 25em;
        color: black;
        .content-title {
            opacity: 0;
            font-family: Glacial;
            font-size: 2.5em;
            height: 3em;
            padding-top: 2em;
        }
        .content-space {
            font-family: OpenSans;
            color: #ab6c2d;
            height: 4em;
            padding-top: 1em;
        }
        .content-short {
            opacity: 0;
            font-family: OpenSans;
            width: 50%;
            text-align: center;
            height: 8em;
            padding-top: 2em;
        }
    } 
    .post {
        margin-top: 3em;
        background-image: url('image/background.png');
        width: 100%;
        height: 145em;
        display: flex;
        align-items: center;
        justify-content: center;
        .post-content {
            width: 80%;
            background-color: #fce9d5;
            height: 123.3em;
            .post-content-detail {
                display: flex;
                .post-text {
                    width: 50%;
                    height: 41em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .pre-title {
                        color: #20223c;
                        font-size: 1.5em;
                        margin-top: 5em;
                    }
                    .title-post {
                        color: #20223c;
                        font-size: 4em;
                        margin-top: 1em;
                    }
                    .post-content-short {
                        width: 70%;
                        margin-top: 5em;
                        text-align: center;
                        p {
                            font-family: OpenSans;
                            color: #20223c;
                        }
                    }
                    .view-more1 {
                        opacity: 0;
                        margin-top: 2.5em;
                        background-color: #fce9d5;
                        border: 2px solid #20223c;
                        color: #20223c;
                        border-radius: 25px;
                        padding: 5px;
                        width: 8em;
                        font-size: 1.4em;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                    .view-more2 {
                        opacity: 0;
                        margin-top: 2.5em;
                        background-color: #fce9d5;
                        border: 2px solid #20223c;
                        color: #20223c;
                        border-radius: 25px;
                        padding: 5px;
                        width: 8em;
                        font-size: 1.4em;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                    .view-more3 {
                        opacity: 0;
                        margin-top: 2.5em;
                        background-color: #fce9d5;
                        border: 2px solid #20223c;
                        color: #20223c;
                        border-radius: 25px;
                        padding: 5px;
                        width: 8em;
                        font-size: 1.4em;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
                .post-image1 {
                    height: 41em;
                    width:50%;
                    opacity: 0;
                    img {
                        width: 100%;
                        height: 41em;
                    }
                }
                .post-image2 {
                    height: 41em;
                    width:50%;
                    opacity: 0;
                    img {
                        width: 100%;
                        height: 41em;
                    }
                }
                .post-image3 {
                    height: 41em;
                    width:50%;
                    opacity: 0;
                    img {
                        width: 100%;
                        height: 41em;
                    }
                }
                
                @media only screen and (max-width: 600px) {
                    .post-image1 {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .service-list {
        width: 100%;
        height: 40em;
        display: flex;
        justify-content: center;
        color: black;
        .service-list-content {
            width: 60%;
            .service-title {
                font-size: 3.5em;
                font-weight: bold;
                height: 3em;
                padding-top: 2.5em;
                opacity: 0;
            }
            .service-list-item {
                opacity: 0;
                height: 20em;
                padding-top: 5em;
                display: flex;
                ul {
                    list-style: disc outside none;
                    width: 33%;
                    li {
                        font-size: 2em;
                        margin-top: 1em;
                        margin-left: 1em;
                        &:first-child {
                            margin-top: 3em;
                        }
                        &:hover {
                            color: #efce16;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .event {
        z-index: 1;
        position: relative;
        height: 100%;
        background: linear-gradient(#222020cc, rgba(57, 57, 57, 0.2)),
            url("../assets/image/background-homepage2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 52em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .event-text {
            font-size: 4em;
            height: 1em;
        }
        a {
            color: white;
            font-size: 1em;
            margin-top: 5em;
            padding: 0.7em;
            &:hover {
                background-color:  #ab6c2d;
                border-radius: 30px;
            }
        }
    }
    .form-booking {
        opacity: 0;
        width: 100%;
        height: 20em;
        background-color:white;
        display: flex;
        justify-content: center;
        margin-top: -4em;
        padding-top: 2em;
        z-index: 1000;
        .form-booking-detail {
            z-index: 1000;
            display: flex;
            width: 70%;
            .booking-field {
                width: 100%;
                height: 8em;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #85562b;
                .field {
                    display: flex;
                    flex-direction: column;
                    height: 8em;
                    justify-content: center;
                    margin-right: 3em;
                    input, select{
                        height: 2.5em;
                        color: black;
                        font-family: OpenSans;
                        width: 16em;
                    }
                    label {
                        font-size: 1.5em;
                        margin-bottom: 0.7em;
                    }
                    select {
                        width: 16em;
                    }
                    .el-date-editor {
                        margin-left: 0 !important;
                    }
                    .el-picker-panel {
                        span {
                            font-family: OpenSans;
                        }
                    }
                }
            }
            .submit-booking {
                width: 20%;
                height: 4em;
                background-color: #ffe6ce;
                color: #85562b;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .gallery {
        width: 100%;
        height: 56em;
        background-color: white;
        .gallery-title {
            color: black;
            height: 1.5em;
            margin-left: 8.7em;
            font-size: 3em;
            font-weight: bold;
        }
        .gallery-short-content {
            color: #85562b;
            height: 2em;
            font-size: 1.5em; 
            margin-left: 17.5em;
        }
        .line-media {
            margin-top: 1.5em;
            display: flex;
            height: 20em;
            justify-content: center;
            align-items: center;
            .line-img {
                height: 20em;
                margin-right: 1.5em;
                overflow: hidden;
                opacity: 0;
                img {
                    height: 20em;
                    width: 27.7em;
                    transition: transform .4s ease-in-out;
                    transition-delay: 0.2s;
                }
                &:hover img {
                    cursor: pointer;
                    opacity: 0.6;
                    filter: url(#gold-sunset) brightness(100%) contrast(80%);
                    transform: scale(1.3);
                }
                &:hover .img-logo{
                    opacity: 1;
                    filter: brightness(200%) contrast(100%);
                    transform: none;
                }
                .img-logo {
                    height: 7em;
                    width: 7em;
                    margin-left: -8em;
                    margin-top: -12em;
                    transition: none;
                    opacity: 0;
                }
            }
        }
    }
}
.heading-landing-page {
    background-color: white;
    width: 100%;
    display: flex;
    height: 5em;
    position: fixed;
    top: 0;
    transition: 1s;
    z-index: 9999;
    .logo {
        width: 20%;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        img {
            height: 5em;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .heading-item {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262729;
        height: 5em;
        a {
            color: white;
            margin-left: 3em;
            font-size: 1.5em;
            text-transform: uppercase;
            font-family: Glacial;
            &:hover {
                color: #efce16;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
    .booking {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        &:hover {
            cursor: pointer;
        }
        img {
            height: 2em;
            margin-left: 2em;
        }
        a {
            color:  #262729;
            margin-left: 1em;
            font-size: 1.5em;
            bottom: 1em !important;
        }
    }
}
.footer-hotel {
    width: 100%;
    height: 20em;
    background-color: #141525;
    z-index: 9999;
    .footer-animation{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        opacity: 0;
    }
    .footer-logo {
        width: 20%;
        img {
            height: 15em;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .line-small {
        width: 8em !important;
    }
    .footer-content {
        height: 10em;
        margin-right: 5em;
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1em;
            margin-top: 0.5em;
            font-family: OpenSans;
        }
        .icon-contact {
            display: flex;
            .icon-fb {
                margin-left: -1.3em;
                img {
                    height: 6em;
                }
            }
            .icon-youtube {
                margin-left: -1em;
                margin-top: 0.8em;
                img {
                    height: 5em;
                }
            }
            .icon-instagram {
                margin-top: 1.4em;
                margin-left: -1em;
                img {
                    height: 4em;
                }
            }
            .icon {
                height: 6em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .back-to-top {
            margin-left: 3em;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayImgContent {
    0% {
        width: 15em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 20% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 20% 0);
    }
    100% {
        width: 25em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}

/* Standard syntax */
@keyframes displayImgContent {
    0% {
        width: 15em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 20% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 20% 0);
    }
    100% {
        width: 25em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayImg {
    0% {
        opacity: 0;
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
    }
    2% {
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 40% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 40% 0);
    }
    100% {
        opacity: 1;
        padding-left: 0;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}

/* Standard syntax */
@keyframes displayImg {
    0% {
        opacity: 0;
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
    }
    2% {
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 40% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 40% 0);
    }
    100% {
        opacity: 1;
        padding-left: 0;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayImgGallery {
    0% {
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 40% 100%, 40% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 40% 100%, 40% 0);
    }
    100% {
        padding-left: 0;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 50% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}

/* Standard syntax */
@keyframes displayImgGallery {
    0% {
        padding-left: 8em;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 40% 100%, 40% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 40% 100%, 40% 0);
    }
    100% {
        padding-left: 0;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 100% 0);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayButton {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 2.5em;
    }
}

/* Standard syntax */
@keyframes displayButton {
    0% { 
        margin-top: 0;
    }
    100% {
        margin-top: 2.5em;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayService {
    0% {
        margin-top: -3em;
    }
    100% {
        margin-top: 0;
    }
}

/* Standard syntax */
@keyframes displayService {
    0% { 
        padding-top: 1em;
    }
    100% {
        padding-top: 2.5em;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes displayServiceItem {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 5em;
    }
}

/* Standard syntax */
@keyframes displayServiceItem {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 5em;
    }
}
@-webkit-keyframes displayFooter {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 2em;
    }
}

/* Standard syntax */
@keyframes displayFooter {
    0% { 
        padding-top: 0;
    }
    100% {
        padding-top: 2em;
    }
}
@-webkit-keyframes displayForm {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 2em;
    }
}

/* Standard syntax */
@keyframes displayForm {
    0% { 
        padding-top: 0;
    }
    100% {
        padding-top: 2em;
    }
}
@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
}

/* Standard syntax */
@keyframes zoomIn {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
}
@-webkit-keyframes displayTitleBottom {
    0% {
        padding-top: 0em
    }
    100% {
        padding-top: 2em;
    }
}

/* Standard syntax */
@keyframes displayTitleBottom {
    0% {
        padding-top: 0em
    }
    100% {
        padding-top: 2em;
    }
}
@-webkit-keyframes displayContentBottom {
    0% {
        padding-top: 0em
    }
    100% {
        padding-top: 2em;
    }
}

/* Standard syntax */
@keyframes displayContentBottom {
    0% {
        padding-top: 0em
    }
    100% {
        padding-top: 2em;
    }
}
@media screen and (max-width:640px) {
    .post-content-detail {
        flex-direction: column;
        .post-text {
            width: 100% !important;
        }
        .post-image1 {
            width: 100% !important;
        }
    }  
}