.landing-page {
    background-color: white;
    .heading-landing-page {
        width: 100%;
        display: flex;
        .logo {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 5em;
            }
        }
        .heading-item {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #262729;
            a {
                color: white;
                margin-left: 3em;
                font-size: 17px;
                text-transform: uppercase;
                &:hover {
                    color: #efce16;
                    cursor: pointer;
                }
            }
        }
        .booking {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
                height: 2em;
                margin-left: 2em;
            }
            a {
                color:  #262729;
                margin-left: 1em;
                font-size: 18px;
                bottom: 10px !important;
            }
        }
    }
    .body-landing-page {
        // background-image: url('background-login.svg');
    }
}