:root {
  //font----
  @font-face {
    font-family: Glacial;
    font-weight: bold;
    src: url('../../public/assets/font/Philosopher-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: Glacial;
    src: url('../../public/assets/font/UTM Essendine Caps.ttf') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../../public/assets/font/OPENSANS-BOLD.TTF') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    src: url('../../public/assets/font/OPENSANS-REGULAR.TTF') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-style: italic;
    src: url('../../public/assets/font/OPENSANS-ITALIC.TTF') format('truetype');
  }
}
